<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>{{ title | default: "PreludeFonds" }}</title>
</head>

<body>
    <header class="navbar">
        <a href="/" class="logo">
            <img src="/icons/logo.svg" alt="PreludeFonds logo">
        </a>
        <nav>
            
            <ul class="nav-list">
                <li class="{% if menuClass == 'home' %}active{% endif %}">
                    <a href="/">Home</a>
                </li>
                <li class="{% if menuClass == 'overzicht' %}active{% endif %}">
                    <a href="/instruments">Overzicht</a>
                </li>
                  <li class="{% if menuClass == 'portal' %}active{% endif %}">
                    <a href="/admin/panel">Docentenportal</a>
                </li>
                {% comment %} <li>
                    <button role="button" class="dropdown" aria-label="Menu" aria-expanded="false">
                        <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true">
                            <path d="M5 17H19M5 12H19M5 7H19" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </li> {% endcomment %}
            </ul>

            <section class="container">
                <div class="wrapper">
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="https://www.soundslice.com/login/" class="main-nav-item">Inloggen</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="https://www.soundslice.com/register/" class="main-nav-item">Sign up</a>
                        </li>
                        <li>
                            <hr class="divider divider-20">
                        </li>

                        <li class="dropdown-item">
                            <a href="https://www.soundslice.com/features/" class="main-nav-item">The player</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="https://www.soundslice.com/notation-editor/" class="main-nav-item">Notation/tab
                                editor</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
    </header>